@charset "utf-8";
body {font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;font-size: 100%;color: #333;background-color: #F9F9F9;min-width: 320px;margin: 0;padding: 0;-webkit-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
@font-face {font-family: 'iconfont';src: url('font/iconfont.eot');src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),url('font/iconfont.woff') format('woff'),url('font/iconfont.ttf') format('truetype'),url('font/iconfont.svg#iconfont') format('svg');}
img {width: 100%;height: auto;border: none;}
i,em {font-style: normal;}
a {color: #333;text-decoration: none;}
a:hover {color: #F16EA2;text-decoration: none;}
ul,li,dl,p,h1,h2,input,form {margin: 0;padding: 0;list-style-type: none;}
.icon {font-family: "iconfont" !important;font-size: 18px;font-style: normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
#header {height: 44px;width: 100%;}
.topbar {color: #FFF;background-color: #F16EA2;background: -webkit-linear-gradient(top,#F16EA2,#EC659B);display: block;height: 44px;}
.nob {border-bottom: none;}
.searchbtn,.nav {float: left;height: 44px;width: 15%;}
.nav {text-align: right;position: relative;}
.searchbtn span,.nav span {line-height: 44px;text-align: center;display: inline-block;height: 44px;width: 44px;}
.searchbtn span:before {content: "\e65c";}
.nav span:before {content: "\e6a5";}
.logo {font-size: 1.3rem;line-height: 44px;text-align: center;float: left;height: 44px;width: 70%;text-shadow: -1px -1px 0px rgba(0,0,0,0.2);}
.logo a {color: #FFF;}
.search {background-color: #F9F9F9;height: 0px;width: 100%;border-bottom: 1px solid #DDD;overflow: hidden;position: absolute;z-index: 18;top: 44px;left: 0;opacity: 0;}
.opensearch {-webkit-animation-name: 'opensearch';animation-name: 'opensearch';-webkit-animation-duration: 0.4s;animation-duration: 0.4s;-webkit-animation-timing-function: ease;animation-timing-function: ease;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.closesearch {-webkit-animation-name: 'closesearch';animation-name: 'closesearch';-webkit-animation-duration: 0.4s;animation-duration: 0.4s;-webkit-animation-timing-function: ease;animation-timing-function: ease;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@-webkit-keyframes 'opensearch' {from {display: none;height: 0px;padding-top: 0px;opacity: 0;}to {display: block;height: 45px;padding-top: 13px;opacity: 1;}}
@-webkit-keyframes 'closesearch' {from {display: block;height: 45px;padding-top: 13px;opacity: 1;}to {display: none;height: 0px;padding-top: 0px;opacity: 0;}}
.search p {padding: 0 12px 0 10px;}
.search span {background-color: #FFF;display: block;height: 30px;width: 100%;border: 1px solid #ECECEC;border-radius: 3px;}
.search input {line-height: 29px;display: inline;float: left;height: 29px;width: 88%;margin-left: 3px;border: none;outline: none;}
.search i {font-size: 0.8rem;;font-style: normal;line-height: 30px;color: #999;text-align: center;float: right;height: 30px;width: 30px;}
.search i:before {content: "\e65c";}
.nav ul {font-size: 0.8rem;background-color: #FFF;text-align: left;height: 0px;width: 90px;border: 1px solid #ECECEC;border-top: none;overflow: hidden;position: absolute;z-index: 20;top: 45px;right: 10px;opacity: 0;}
.nav ul.openmenu {-webkit-animation-name: 'opennav';animation-name: 'opennav';-webkit-animation-duration: 0.4s;animation-duration: 0.4s;-webkit-animation-timing-function: ease;animation-timing-function: ease;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
.nav ul.closemenu {-webkit-animation-name: 'closenav';animation-name: 'closenav';-webkit-animation-duration: 0.4s;animation-duration: 0.4s;-webkit-animation-timing-function: ease;animation-timing-function: ease;-webkit-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@-webkit-keyframes 'opennav' {from {display: none;height: 0px;opacity: 0;}to {display: block;height: 163px;opacity: 1;}}
@-webkit-keyframes 'closenav' {from {display: block;height: 163px;opacity: 1;}to {display: none;height: 0px;opacity: 0;}}
.nav ul li {line-height: 40px;color: #999;height: 40px;border-bottom: 1px solid #ECECEC;}
.nav ul li:last-child {border-bottom: none;}
.nav ul li i {display: inline-block;height: 40px;padding: 0 10px;}
.nav ul li a {display: inline-block;height: 40px;}
.nav ul li:nth-child(1) i:before {content: "\e6b8";}
.nav ul li:nth-child(2) i:before {content: "\e669";}
.nav ul li:nth-child(3) i:before {content: "\e64c";}
.nav ul li:nth-child(4) i:before {content: "\e752";}
.article h2 {font-size: 0.9rem;font-weight: normal;margin: 13px 0;}
.article li {padding: 0 10px;border-top: 1px solid #ECECEC;}
.article li:first-child {border-top: none;}
#likebest,#viewbest {display: none;}
.info {color: #666;height: 40px;}
.info span {font-size: 0.7rem;float: left;height: 20px;width: 48%;padding-top: 13px;}
.info span:last-child {text-align: right;float: right;}
.more {font-size: 0.8rem;height: 43px;padding: 0 10px;}
.more p {line-height: 30px;color: #666;background-color: #ECECEC;text-align: center;text-shadow: 1px 1px 0px #F6F6F6;height: 30px;border-radius: 3px;cursor: pointer;}
.page {font-size: 0.8rem;height: 46px;padding: 0 10px;}
.page ul {background-color: #ECECEC;display: block;height: 30px;border-radius: 3px;}
.page li {line-height: 30px;text-align: center;float: left;height: 30px;width: 32%;text-shadow: 1px 1px 0px #F6F6F6;}
.page li.pre {background: url(hot.gif) repeat-y right top;width: 34%;}
.page li.next {background: url(hot.gif) repeat-y left top;text-align: right;width: 34%;}
.page a {vertical-align: top;text-align: center;display: inline-block;width: 100%;}
.page i {color: #999;vertical-align: top;text-align: center;display: inline-block;width: 100%;}
.hot {font-size: 0.8rem;color: #666;background-color: #ECECEC;height: 33px;}
.hot span {line-height: 33px;text-align: center;float: left;height: 33px;cursor: pointer;}
.hot span:nth-child(1) {width: 33%;background: url(hot.gif) repeat-y right top;}
.hot span:nth-child(2) {width: 34%;}
.hot span:nth-child(3) {width: 33%;background: url(hot.gif) repeat-y left top;}
.hot span.on {color: #F16EA2;}
.hot i {display: inline-block;width: 100%;text-shadow: 1px 1px 0px #F6F6F6;}
.msg i {font-size: 0.8rem;color: #999;display: inline-block;margin-top: 13px;padding-left: 7px;border-left: 3px solid #F16EA2;}
.tag {padding: 13px 10px 0 10px;}
.tag li {font-size: 0.8rem;float: left;height: 146px;width: 50%;}
.tag li:last-child {height: 148px;}
.tag li p {text-align: center;height: 149px;border-radius: 3px;}
.tag li:nth-child(2n+1) p {margin-right: 5px;}
.tag li:nth-child(2n) p {margin-left: 5px;}
.tag img {display: block;height: 104px;width: 104px;margin: 0 auto 14px auto;}
.content {padding: 0 10px;}
.content h1 {font-size: 0.9rem;font-style: normal;padding: 13px 0 8px 0;}
.content .picinfo {font-size: 0.7rem;color: #999;padding-bottom: 13px;}
.content .picinfo i {margin-right: 6px;}
.content img {max-width: 100%;}
.good {margin: 8px 10px 0 10px;}
.good li {font-size: 0.8rem;line-height: 1.5rem;}
.other {padding: 10px 10px 0 10px;}
.other li {font-size: 0.7rem;float: left;width: 50%;}
.other li:nth-child(1) p {margin-right: 5px;}
.other li:nth-child(2) p {margin-left: 5px;}
.other li:nth-child(3) p {margin-right: 5px;}
.other li:nth-child(4) p {margin-left: 5px;}
.other li span {line-height: 36px;text-align: center;display: block;height: 36px;}
.contentpage {font-size: 0.8rem;background-color: #FDFDFD;height: 33px;margin: 13px 10px;border: 1px solid #ECECEC;border-radius: 3px;}
.contentpage span {line-height: 33px;color: #999;text-align: center;float: left;height: 33px;width: 33%;}
.contentpage span:nth-child(2) {width: 34%;}
.contentpage i {display: block;border-right: 1px solid #ECECEC;border-left: 1px solid #ECECEC;}
.love {font-size: 0.8rem;color: #666;text-align: center;height: 28px;}
.love span {line-height: 28px;background-color: #DDD;background: -webkit-linear-gradient(top,#E2E2E2,#D2D2D2);text-align: center;display: inline-block;height: 28px;width: 66px;border-radius: 20px;}
.mdiv {margin: 13px 10px 0 10px;}
.footer {height: 60px;}
.tool {font-size: 0.7rem;color: #FFF;background-color: #F16EA2;height: 30px;}
.tool span {line-height: 30px;float: left;height: 30px;width: 40%;padding-left: 10px;}
.tool span.gotop {text-align: right;float: right;padding-right: 10px;padding-left: 0px;}
.tool a {color: #FFF;}
#topbtn {background: url(goheader.png) no-repeat left top;display: none;height: 50px;width: 50px;position: fixed;right: 5px;bottom: 70px;cursor: pointer;}
.myad {font-size: 0.9rem;height: 150px;}
.option {height: 30px;margin-top: 14px;}
.option em {display: inline;float: left;height: 10px;width: 10px;margin: 2px 6px 0 14px;border: 1px solid #AAA;}
.adon {color: #009900;}
.adon em {background-color: #009900;border: 1px solid #009900;}
.adinfo {color: #999;height: 30px;margin-left: 14px;}
.savead {height: 50px;}
.savead span {line-height: 30px;color: #333;background-color: #DDD;text-align: center;display: inline;float: left;height: 30px;width: 80px;margin-left: 14px;border-radius: 3px;cursor: pointer;}
.copyright {font-size: 0.7rem;line-height: 30px;color: #666;background-color: #DDD;text-align: center;height: 30px;}